@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

h1, h2, h3, h4 {
    font-family: "Pixelify Sans", sans-serif;
    color: white;
    opacity: .8;
}

h1 {
    font-size: 48px;
    line-height: 1.1;
    opacity: .8;
}

h2 {
    font-size: 28px;
    line-height: 1.1;
    opacity: .7;
}

.sharp {
    image-rendering: crisp-edges;
  }

h3 {
    font-size: 20px;
    line-height: 1.2;
    opacity: .6;
}

p, a {
    font-family: "Space Mono", sans-serif;
    color: white;
    opacity: .4;
}

a:hover {
    opacity: .6;
    cursor: cell;
}

.word-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    height: 1.1em;
}

#word {
    font-family: "Space Mono", sans-serif;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.arrow {
  border: solid white;
  opacity: 0.4;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.project-open {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-15px);
  transition:
    opacity 0.3s ease,
    max-height 0.5s ease,
    transform 0.4s ease;
}

.project-card.active .project-closed {
  opacity: 0;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;

  transition:
    opacity 0.2s ease,
    max-height 0.4s ease,
    padding 0.4s ease;
}

.project-card.active .project-open {
  opacity: 1;
  max-height: none;
  transform: translateY(0);
}